aiohttp
aiomysql
aioredis
appdirs
asteval
asynctest
cchardet
chardet
construct
hiredis
numpy
pandas
pkginfo
PyInstaller
PyMySQL
python-dateutil
pytz
redis
requests
requests-toolbelt
six
twine
ujson
wheel
